<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="index.php" colors= "true" convertErrorsToExceptions= "true" convertNoticesToExceptions= "true" convertWarningsToExceptions= "true" processIsolation= "false" stopOnFailure= "false">
  <php>
    <server name='HTTP_HOST' value='http://localhost' />
    <server name='SEME_ERR_BYPASS' value='1' />
  </php>
  <testsuites>
    <testsuite name="Dev">
      <file>dev/test/testSENE_Controller.php</file>
    </testsuite>
    <testsuite name="Test Controllers">
      <directory>app/controller/</directory>
    </testsuite>
  </testsuites>
</phpunit>
