.container {
  min-height: 85vh;
}
footer.row {
  background-color: #ededed;
  margin :0;
  padding: 1em;
}
.copyright {
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
  font-size: small;
}
.kevin{
  color:#000000;
  padding-left: 100px;
}
.widiani{
  padding-left: 570px;
  color:#03CDBB;
  font-size: 38px;
}
.atkonah{
  padding-left: 500px;
  color:#03CDBB;
  font-size: 38px;
}
.dan{
  color:#03CDBB;
  font-size: 38px;
  padding-left: 600px;
}
