.container {
  min-height: 85vh;
}
footer.row {
  background-color: #ededed;
  margin :0;
  padding: 1em;
}
.copyright {
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
  font-size: small;
}
